# Intro

Welcome to the documentation.

{{ range .Packages }}

# {{ .Name }}
## Documentation

{{ .Doc }}

{{ template "snip" .Functions }}
{{ template "snip" .Structs }}
{{ template "snip" .Interfaces }}

{{ end }}