<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-go.min.js"></script>
    <style>{{ GetStaticCSS "static/style.css" }}</style>
    <style>{{ GetStaticCSS "static/highlight.css" }}</style>
</head>
<body>
<script>var toggleDarkMode = () => localStorage['isLight'] = document.body.classList.toggle('lightmode');
localStorage['isLight'] === 'true' ? toggleDarkMode() : 0; </script>
<div class="toc">
    <h2>Table of contents</h2>
    <ol>
        {{ range $i, $el := .TableContents }}
        <li>{{ $el }}</li>
        {{ end }}
    </ol>
</div>
<input type="checkbox" style="display: none" id="headerCheckbox" name="header-check"/>
<nav class="sidebar">
    <div class="sidebar-wrap">
        <section class="project-name-box">
            <h2 class="project-name">
                <a href="index.html">
                <img src='{{ GetStaticSVG "static/docgo.svg" }}' />
                </a>
            </h2>
            <label for="headerCheckbox" class="toggle-menu-labels"><span class="material-icons">close</span></label>
        </section>

        <ul class="menu-lvl-0">
            <li>
                <h3> Intro </h3>
                <ul class="menu-lvl-1">
                    {{ $currentIdx := .CurrentPage }}
                    {{ range $i, $p := .PageLinks }}
                    <li
                    {{ if eq $i $currentIdx }} class="active" {{ end }}
                    ><a href="{{ $p }}"><span class="material-icons" style="vertical-align: middle; font-size: 16px; padding-right: 5px">
article
</span>{{ GetPageTitle $i }}</a></li>
                    {{ end }}
                </ul>

            </li>
        </ul>
        <div class="darkmode-wrap">
            <button onclick="toggleDarkMode()"><span class="material-icons">light_mode</span></button>
        </div>
    </div>
</nav>
<section class="main-wrapper">
    <header>
        <div class="main-container">
            <div class="header-split-sides">
                <div class="header-left">
                    <label for="headerCheckbox" class="toggle-menu-labels"><span
                            class="material-icons">menu</span></label>
                <form class="search-form" style="position: relative"  id="searchForm" method="GET" action="godoc_search.html">
                    <span class="search-icon material-icons">search</span>
                    <input type="text" autocomplete="off" placeholder="Search the documentation" id="searchField" name="_query"/>
                    <div id="autocomplete"></div>
                </form>
                </div>
                <section class="header-right">
                    <a href="{{ .SiteInfo.GoPkg }}">
                        <img src="https://pkg.go.dev/static/shared/logo/go-white.svg" height="20" width="52"/>
                    </a>
                    <a href="{{ .SiteInfo.GitHub }}">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='octicon octicon-mark-github v-align-middle' height='25' viewBox='0 0 16 16' version='1.1' width='32' aria-hidden='true'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E">
                    </a>
                </section>
            </div>
        </div>
    </header>

    <main>
        <article class="main-container">
            <div>
                <small>{{ .ModuleDoc.ImportPath }} > {{ .Title }}</small>
                <h1>{{ .Title }}</h1><br/>
                {{ .Body }}
            </div>
        </article>
    </main>
</section>
<script>
    headerCheckbox.checked = false;
    [...document.querySelectorAll('a')].map(x => x.addEventListener('click', () => { headerCheckbox.checked = false; }))
</script>
    {{ template "search.html" .SearchIndex }}
</body>
</html>