body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
    margin: 0;
    background: var(--body-background);
    color: var(--body-foreground);
}

body {
    --body-background: #202229;
    --body-foreground: #DFE1E3;

    --header-bg: #333640;
    --header-border: #333744;

    --search-background: #202225;
    --search-placeholder: #8E959D;
    --search-icon-color: var(--brand2);
    --search-border: 1px solid var(--search-background);
    --search-active-border: 2px solid var(--brand2);
    --search-active-background: var(--search-background);
    --search-foreground: #eee;

    --brand2: #03C4A1;
    --brand1: #F2575F;

    --sidebar-border: 1px solid #555;

    --menu-active-item-color: #fff;
    --menu-active-item-bg: rgba(255, 255, 255, 0.1);
}

body.lightmode {
    --body-background: #fff;
    --body-foreground: #1B1D23;

    --header-bg: #fff;
    --header-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    --header-border: transparent;

    --search-background: #eaeaea;
    --search-placeholder: #768089;
    --search-icon-color: var(--brand2);
    --search-border: none;
    --search-active-border: 2px solid var(--brand2);
    --search-active-background: #fff;
    --search-foreground: #000;

    --sidebar-bg: #F9FAFA;
    --sidebar-border: 1px solid #eaeaea;
    --sidebar-fg: #222;

    --menu-active-item-color: #333;
    --menu-active-item-bg: rgba(255, 255, 255, 0.1);
}

a, a:visited {
    color: #D29BFF;
    text-decoration: none;
}

.material-icons {
    vertical-align: middle;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 2em;
}

h1, h2 {
    font-weight: 300;
}

h3 {
    font-weight: 500;
}

header {
    width: 100%;
    border-bottom: 1px solid var(--header-border);
    background: var(--header-bg, #333640);
    box-shadow: var(--header-box-shadow, 0 0 0);
}

header .search-icon {
    position: absolute;
    left: 4px;
    top: 6px;
    color: var(--search-icon-color);
    font-size: 20px;
}

header h1, header h2 {
    font-weight: 400;
}

main {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
}

nav.sidebar .project-name {
    font-weight: 500;
    text-align: center;
}

nav.sidebar .project-name > a {
    color: #fff;
}

nav.sidebar .project-name img {
    width: 130px;
}

nav.sidebar .project-name-box {
    display: flex;
}

nav.sidebar .project-name {
    flex-grow: 1;
}

nav.sidebar .project-name-box > .toggle-menu-labels {
    width: 20px;
}

nav.sidebar {
    position: fixed;
    box-sizing: border-box;
    overflow-y: hidden;
    background: var(--sidebar-bg, #1B1D23);
    border-right: var(--sidebar-border, none);
    color: var(--sidebar-fg);
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: left 0.3s, visibility 0.3s;
}

nav.sidebar .sidebar-wrap {
    min-height: 101%;
    position: relative;
    padding: 1em 0.5em;
}

nav.sidebar ul {
    padding: 0;
}

nav.sidebar .menu-lvl-1 ul {
    padding-left: 10px;
}

.menu-lvl-1 li {
    list-style: none;
    box-sizing: border-box;
    margin: 10px 0;
    position: relative;
    left: 0.5em;
    padding: 0 10px;
    border-left: 5px solid transparent;
}

.menu-lvl-1 li a {
    color: var(--sidebar-fg);
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 5px 0px 10px;
    width: 100%;
}

.menu-lvl-1 li.active a {
    color: var(--menu-active-item-color, #fff);
}

.menu-lvl-1 li.active {
    border-left: 5px solid var(--brand2);
    font-weight: 500;
    background: var(--menu-active-item-bg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-wrapper {
    margin-left: 300px;
}

.toggle-menu-labels {
    display: none;
}

@media (max-width: 600px) {
    .toggle-menu-labels {
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }

    nav.sidebar {
        visibility: hidden;
        width: 100%;
        left: -100%;
    }

    .main-wrapper {
        margin-left: 0;
    }

    input[name="header-check"]:checked + nav.sidebar {
        visibility: visible;
        left: 0;
    }

    input[name="header-check"]:checked ~ .main-wrapper {
        display: none;
    }
}

.main-container {
    max-width: 860px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

article .main-container {
    padding: 2em 0;
}

article img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

article {
    padding: 2em 0;
    line-height: 1.5;
}

.header-split-sides {
    display: flex;
    align-content: center;
    justify-content: space-between;
    vertical-align: middle;
    padding: 15px 0 10px;
}

section.header-right {
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 30px;
}

.lightmode .project-name img {
    filter: invert(1) hue-rotate(180deg);
}
.lightmode .header-right img {
    filter: invert(0.7);
}

.header-right > * {
    margin: 0 5px;
}

article small {
    display: block;
    padding: 5px 0px 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 1em !important;
}

pre[class*="language-go"] {
    border: 1px solid #393E4A;
    background: #1F1F21;
    min-width: 250px;
    max-width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.header-split-sides {
    align-items: center;
}

.search-form {
    height: 35px;
    margin: 0;
    padding: 0;
    min-width: 160px;
    flex-grow: 1;
}

.header-left {
    flex-grow: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.header-left .toggle-menu-labels {
    margin-right: 8px;
}

.search-form input {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-left: 25px;
    box-sizing: border-box;
    background: var(--search-background);
    color: var(--search-foreground);
    border: var(--search-border);
    border-radius: 10px;
}

.search-form input:focus, .search-form input:active {
    border: var(--search-active-border);
    background: var(--search-active-background);
    outline: 0;
}

.search-form input::placeholder {
    color: var(--search-placeholder);
}

hr {
    border-style: dashed;
    border-color: var(--brand2);
}

article h3 {
    margin-top: 2em;
}

.toc {
    position: fixed;
    right: 25px;
    top: 80px;
    color: var(--body-foreground);
    width: 150px;
    font-size: 0.9em;
    opacity: 0.8;
}

.toc ol {
    padding: 0 5px;
}

@media (max-width: 1500px) {
    .toc {
        display: none;
    }
}

.darkmode-wrap {
    position: absolute;
    bottom: 8vh;
    left: 10px
}

.darkmode-wrap button {
    border: 0;
    background: none;
    outline: 0;
    cursor: pointer;
    color: var(--sidebar-fg);
}


/* search */
#searchForm {
    position: relative;
}

#autocomplete {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    background: #fff;
    color: #61677C;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#autocomplete label:first-child {
    margin-top: 10px;
}

#autocomplete label:last-child {
    margin-bottom: 10px;
}

#autocomplete label {
    display: block;
    padding: 6px 10px;
    cursor: pointer;
}

#autocomplete label:hover {
    background: #eee;
}

:target {
    background: #F4802450;
    color: #fff;
}

.lightmode :target {
    color: #000;
}